<div th:fragment="aus-mini-calendario" class="aus-mini-calendario-container">
    <div class="aus-calendar-container">
        <div class="aus-calendar-header">
            <button class="aus-nav-button" id="aus-prevMonth">&lt;</button>
            <div class="aus-month-year" id="aus-monthYearLabel">Abril 2025</div>
            <button class="aus-nav-button" id="aus-nextMonth">&gt;</button>
            <select id="aus-yearSelect"></select>
        </div>
        <div class="aus-calendar-grid" id="aus-calendarGrid">
            <!-- Grid dinámica -->
        </div>
    </div>
</div>