<div th:fragment="modal-justificacion">
    <div class="modal fade" id="aus-modal-justificacion" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="aus-form-justificacion">
                    <div class="modal-header">
                        <button type="button" class="btn btn-link" id="aus-btn-volver">← Atrás</button>
                        <h5 class="modal-title ms-2">Justificar Ausencia</h5>
                        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="aus-asunto" class="form-label">Asunto</label>
                            <select class="form-select" aria-label="Default select example" id="aus-asunto">
                                <option selected>Selecciona una opción</option>
                                <option value="1">Enfermedad o Incapacidad temporal</option>
                                <option value="2">Cita Médica</option>
                                <option value="3">Permiso Personal</option>
                                <option value="4">Permiso retribuido</option>
                                <option value="5">Huelga</option>
                                <option value="6">Baja maternidad/paternidad</option>
                                <option value="7">Reducción de jornada</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="aus-descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="aus-descripcion" rows="3" maxlength="200" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="aus-archivos" class="form-label">Adjuntar Archivos</label>
                            <input type="file" class="form-control" id="aus-archivos" accept=".pdf" multiple>
                            <div id="archivo-error" class="text-danger mt-1" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>