@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:wght@100..900&family=New+Tegomin&family=Russo+One&display=swap');

:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #252323;
    --first-color-light: #e6e6e6;
    --white-color: #F7F6FB;
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box;

}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    height: auto;
    background-color: var(--white-color);

}

a{
    text-decoration: none
}

.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}
/*.header_toggle{*/
/*    color: var(--first-color);*/
/*    font-size: 1.5rem;*/
/*    cursor: pointer;*/
/*}*/

