body {
    background-color: #F5F1ED;
}

.btn-primary {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background-color: #1B17FF !important;
}

.btn-primary:hover {
    background-color:#071d83 !important;
}

.btn-danger{
    background-color: #252323 !important;
    color: #F5F1ED;
    border: none !important;
}

.btn-danger:hover {
    background-color:#01040f !important;
}
.btn-secondary {
    background-color: #252323 !important;
    color: #F5F1ED;
    border: none !important;
}

.btn-secondary:hover {
    background-color: #01040f !important;
}

h2 {
    color: #252323;
    font-size: 48px;
    margin-bottom: 30px;


}