<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layoutNavBar}">
<head>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/app.css}" />
    </th:block>
</head>

<body>
<section layout:fragment="content">
    <div class="calendar-container-all">
        <div th:replace="fragments/calendar-buttons :: calendar-buttons"></div>
        <div th:replace="fragments/calendar-grid :: calendar-grid"></div>
    </div>
    <div th:replace="fragments/calendar-modal :: calendar-modal"></div>
</section>
</body>
</html>