<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layoutNavBar}">
<head>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/app.css}" />
    </th:block>
    <title>Gestión Ausencias</title>
</head>
<body>
<section layout:fragment="content">
    <!--Container Main start-->
    <div class="height-100 aus-container-personal">
        <div class="aus-container-personal-lista">
            <div th:replace="fragments/aus-tabla-usuarios :: aus-tabla-usuarios"></div>
            <div th:replace="fragments/aus-mini-calendario :: aus-mini-calendario"></div>
        </div>
    </div>
    <div th:replace="fragments/aus-modal :: aus-modal"></div>
</section>
</body>
</html>