<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layoutNavBar}">
<head>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/app.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </th:block>

    <title>Ausencias</title>
</head>

<body>
<section layout:fragment="content">
    <div class="calendar-container-all">
        <div th:replace="fragments/botones :: botones(${rol})"></div>
        <th:block th:replace="fragments/calendario :: calendario"></th:block>
    </div>

    <div th:replace="fragments/modal-ausencias :: modal-ausencias"></div>
    <div th:replace="fragments/modal-justificacion :: modal-justificacion"></div>
    <div th:replace="fragments/modal-vacaciones :: modal-vacaciones"></div>

</section>
</body>
</html>